In [ ]:
pip install -U pandasql

In [45]:
import pandas as pd
import numpy as np
import pandasql as ps

In [46]:
from google.colab import files
files.upload()

Saving Worker.csv to Worker (1).csv

{'Worker.csv': b'ID,FirstName,LastName,Email,department,salary,Join Date\r\n1,banavath,gangaraju,banavathgangaraju@guvi.com,Admin,45000,3/20/2018\r\n2,bandari,chandrakanth,bandarichandrakanth@guvi.com,Marketing,25000,2/15/2019\r\n3,bhogadi,manasa,bhogadimanasa@guvi.com,sales,55000,2/20/2013\r\n4,boddula,supreeth,boddulasupreeth@guvi.com,HR,60000,3/20/2014\r\n5,chennuri,naveen,chennurinaveen@guvi.com,Purchase,65000,2/15/2019\r\n6,kuturu,ananthasri,kuturuananthasri@guvi.com,Finance,75000,2/20/2013\r\n7,mailapalli,sreeharsha,mailapallisreeharsha@gmail.com,Marketing,80000,2/15/2019\r\n8,mengani,akshay,menganiakshay@guvi.com,sales,35000,01-10-2016\r\n9,mohammed,nawaz,mohammednawaz@guvi.com,HR,40000,3/20/2014\r\n10,rapelly,sandeepraj,rapellysandeepraj@guvi.com,Purchase,55000,2/15/2019\r\n11,sandhulwar,sainath,sandhulwarsainath@guvi.com,Finance,60000,08-10-2016\r\n12,sirigiri,chaithanya,sirigirichaithanya@guvi.com,Marketing,65000,02-07-2018\r\n13,vemula,shravani,vemulashravani@guvi.com,sales,75000,05-05-2017\r\n14,barla,sai,barlasai@guvi.com,Marketing,80000,2/20/2013\r\n15,borampet,saikaushik,borampetsaikaushik@guvi.com,sales,90000,3/20/2014\r\n16,choppa,sairajesh,choppasairajesh@guvi.com,HR,100000,3/20/2014\r\n17,eslavath,vamshi,eslavathvamshi@guvi.com,Purchase,55000,2/15/2019\r\n18,katuri,yedukndalu,katuriyedukndalu@guvi.com,Finance,60000,2/20/2014\r\n19,nikhilesh,kar,nikhileshkar@guvi.com,Marketing,65000,2/20/2013\r\n20,patimeedi,srihari,patimeedisrihari@guvi.com,sales,75000,2/15/2019\r\n21,praveen,dhumal,praveendhumal@guvi.com,HR,80000,2/20/2013\r\n22,praveen,kumar,praveenkumar@guvi.com,Purchase,55000,3/20/2021\r\n23,alle,pawan,allepawan@guvi.com,Finance,60000,2/15/2019\r\n24,bellam,revanth,bellamrevanth@guvi.com,Admin,65000,08-10-2016\r\n25,boddani,ankith,boddaniankith@guvi.com,sales,75000,02-07-2018\r\n26,chennakeshavula,suresh,chennakeshavulasuresh@guvi.com,HR,80000,05-05-2017\r\n27,gundlapalli,vinith,gundlapallivinith@guvi.com,Purchase,65000,2/20/2013\r\n28,kothapalli,bhanu,kothapallibhanu@guvi.com,Finance,75000,03-07-2018\r\n29,mohd,sophian,mohdsophian@guvi.com,sales,80000,3/15/2019\r\n30,narayana,suresh,narayanasuresh@guvi.com,Marketing,68000,3/20/2021\r\n31,siddineni,hemanth,siddinenihemanth@guvi.com,sales,95000,2/15/2019\r\n32,vemulapalli,yaswant,vemulapalliyaswant@guvi.com,HR,70000,08-10-2016\r\n33,chilkuri,srinivasa,chilkurisrinivasa@guvi.com,Purchase,55000,02-07-2018\r\n34,gamidi,eshwar,gamidieshwar@guvi.com,Finance,60000,05-05-2017\r\n35,kandukoori,sai,kandukoorisai@guvi.com,Marketing,65000,2/20/2013\r\n36,kuthum,nagaraju,kuthumnagaraju@gmail.com,sales,75000,2/15/2019\r\n37,mateti,pranav,matetipranav@guvi.com,HR,80000,3/20/2021\r\n38,shivani,patel,shivanipatel@guvi.com,Purchase,75000,2/15/2019\r\n39,ninga,bhanu,ningabhanu@guvi.com,Finance,80000,08-10-2016\r\n40,rohit,meka,rohitmeka@guvi.com,Admin,55000,02-07-2018\r\n41,sigalapalli,naveen,sigalapallinaveen@guvi.com,Marketing,60000,05-05-2017\r\n42,tangellapally,nagaraju,tangellapallynagaraju@guvi.com,sales,65000,2/20/2013\r\n43,vadai,saikiran,vadaisaikiran@guvi.com,Marketing,75000,02-07-2018\r\n44,vaddla,aravind,vaddlaaravind@guvi.com,sales,80000,05-05-2017\r\n45,yesupogu,akhil,yesupoguakhil@guvi.com,HR,65000,2/20/2013\r\n46,samudrala,prashanthi,samudralaprashanthi@guvi.com,Purchase,75000,05-04-2017\r\n47,madhavan,,madhavan@guvi.com,Finance,80000,08-10-2016\r\n48,sai,kiran,saikiran@guvi.com,Marketing,75000,02-07-2018\r\n49,atike,purnachandar,atikepurnachandar@guvi.com,sales,80000,05-05-2017\r\n50,bandari,sahithya,bandarisahithya@guvi.com,HR,75000,01-03-2016\r\n'}

In [47]:
df=pd.read_csv('/content/Worker.csv')
df.head()

,ID,FirstName,LastName,Email,department,salary,Join Date
0,1,banavath,gangaraju,banavathgangaraju@guvi.com,Admin,45000,3/20/2018
1,2,bandari,chandrakanth,bandarichandrakanth@guvi.com,Marketing,25000,2/15/2019
2,3,bhogadi,manasa,bhogadimanasa@guvi.com,sales,55000,2/20/2013
3,4,boddula,supreeth,boddulasupreeth@guvi.com,HR,60000,3/20/2014
4,5,chennuri,naveen,chennurinaveen@guvi.com,Purchase,65000,2/15/2019

In [48]:
worker=df.copy()

In [49]:
worker.columns

Index(['ID', 'FirstName', 'LastName', 'Email', 'department', 'salary',
       'Join Date'],
      dtype='object')

**TASK1:**

In [50]:
q11 = """SELECT FirstName AS worker_name FROM worker """
print(ps.sqldf(q11, locals()))

        worker_name
0          banavath
1           bandari
2           bhogadi
3           boddula
4          chennuri
5            kuturu
6        mailapalli
7           mengani
8          mohammed
9           rapelly
10       sandhulwar
11         sirigiri
12           vemula
13            barla
14         borampet
15           choppa
16         eslavath
17           katuri
18        nikhilesh
19        patimeedi
20          praveen
21          praveen
22             alle
23           bellam
24          boddani
25  chennakeshavula
26      gundlapalli
27       kothapalli
28             mohd
29         narayana
30        siddineni
31      vemulapalli
32         chilkuri
33           gamidi
34       kandukoori
35           kuthum
36           mateti
37          shivani
38            ninga
39            rohit
40      sigalapalli
41    tangellapally
42            vadai
43           vaddla
44         yesupogu
45        samudrala
46         madhavan
47              sai
48            atike
49          bandari

In [51]:
q12="""SELECT distinct department from worker"""
print(ps.sqldf(q12))

  department
0      Admin
1  Marketing
2      sales
3         HR
4   Purchase
5    Finance

In [52]:
q13="""SELECT * from worker order by ID DESC limit 5"""
print(ps.sqldf(q13))

   ID  FirstName      LastName                         Email department  \
0  50    bandari      sahithya      bandarisahithya@guvi.com         HR
1  49      atike  purnachandar    atikepurnachandar@guvi.com      sales
2  48        sai         kiran             saikiran@guvi.com  Marketing
3  47   madhavan          None             madhavan@guvi.com    Finance
4  46  samudrala    prashanthi  samudralaprashanthi@guvi.com   Purchase

   salary   Join Date
0   75000  01-03-2016
1   80000  05-05-2017
2   75000  02-07-2018
3   80000  08-10-2016
4   75000  05-04-2017

**TASK2:**

In [ ]:
  #q21="""SELECT SUBSTRING(FirstName,1,3) from worker"""
  q21 = """SELECT LEFT(FirstName, 3) FROM worker """
  print(ps.sqldf(q21),locals())

In [ ]:
#q22="""SELECT INSTR(FirstName,BINARY,'a') from worker where FirstName='sai'"""
q22="""SELECT POSITION("a" IN FirstName) FROM worker WHERE FirstName = "patel";'"""
print(ps.sqldf(q22),locals())

In [54]:
q23="""Select *from worker w where salary =(select max(salary) from worker where department=w.department)"""
print(ps.sqldf(q23))

   ID   FirstName    LastName                           Email department  \
0   7  mailapalli  sreeharsha  mailapallisreeharsha@gmail.com  Marketing
1  14       barla         sai               barlasai@guvi.com  Marketing
2  16      choppa   sairajesh        choppasairajesh@guvi.com         HR
3  24      bellam     revanth          bellamrevanth@guvi.com      Admin
4  31   siddineni     hemanth       siddinenihemanth@guvi.com      sales
5  38     shivani       patel           shivanipatel@guvi.com   Purchase
6  39       ninga       bhanu             ningabhanu@guvi.com    Finance
7  46   samudrala  prashanthi    samudralaprashanthi@guvi.com   Purchase
8  47    madhavan        None               madhavan@guvi.com    Finance

   salary   Join Date
0   80000   2/15/2019
1   80000   2/20/2013
2  100000   3/20/2014
3   65000  08-10-2016
4   95000   2/15/2019
5   75000   2/15/2019
6   80000  08-10-2016
7   75000  05-04-2017
8   80000  08-10-2016

**TASK3:**

In [56]:
q31="""select RTRIM(FirstName) from worker"""
print(ps.sqldf(q31))

   RTRIM(FirstName)
0          banavath
1           bandari
2           bhogadi
3           boddula
4          chennuri
5            kuturu
6        mailapalli
7           mengani
8          mohammed
9           rapelly
10       sandhulwar
11         sirigiri
12           vemula
13            barla
14         borampet
15           choppa
16         eslavath
17           katuri
18        nikhilesh
19        patimeedi
20          praveen
21          praveen
22             alle
23           bellam
24          boddani
25  chennakeshavula
26      gundlapalli
27       kothapalli
28             mohd
29         narayana
30        siddineni
31      vemulapalli
32         chilkuri
33           gamidi
34       kandukoori
35           kuthum
36           mateti
37          shivani
38            ninga
39            rohit
40      sigalapalli
41    tangellapally
42            vadai
43           vaddla
44         yesupogu
45        samudrala
46         madhavan
47              sai
48            atike
49          bandari

In [57]:
q32="""SELECT DISTINCT department, LENGTH(department) AS departmentNameLength FROM worker"""
print(ps.sqldf(q32))

  department  departmentNameLength
0      Admin                     5
1  Marketing                     9
2      sales                     5
3         HR                     2
4   Purchase                     8
5    Finance                     7

In [58]:
q33="""select distinct(salary) from worker order by salary DESC limit 2 offset 1"""
print(ps.sqldf(q33))

   salary
0   95000
1   90000

**TASK4:**

In [59]:
q41="""select REPLACE(FirstName,'a','A') from worker"""
print(ps.sqldf(q41))

   REPLACE(FirstName,'a','A')
0                    bAnAvAth
1                     bAndAri
2                     bhogAdi
3                     boddulA
4                    chennuri
5                      kuturu
6                  mAilApAlli
7                     mengAni
8                    mohAmmed
9                     rApelly
10                 sAndhulwAr
11                   sirigiri
12                     vemulA
13                      bArlA
14                   borAmpet
15                     choppA
16                   eslAvAth
17                     kAturi
18                  nikhilesh
19                  pAtimeedi
20                    prAveen
21                    prAveen
22                       Alle
23                     bellAm
24                    boddAni
25            chennAkeshAvulA
26                gundlApAlli
27                 kothApAlli
28                       mohd
29                   nArAyAnA
30                  siddineni
31                vemulApAlli
32                   chilkuri
33                     gAmidi
34                 kAndukoori
35                     kuthum
36                     mAteti
37                    shivAni
38                      ningA
39                      rohit
40                sigAlApAlli
41              tAngellApAlly
42                      vAdAi
43                     vAddlA
44                   yesupogu
45                  sAmudrAlA
46                   mAdhAvAn
47                        sAi
48                      Atike
49                    bAndAri

In [60]:
q42="""select * from worker order by FirstName ASC, department DESC"""
print(ps.sqldf(q42))

    ID        FirstName      LastName                           Email  \
0   23             alle         pawan              allepawan@guvi.com
1   49            atike  purnachandar      atikepurnachandar@guvi.com
2    1         banavath     gangaraju      banavathgangaraju@guvi.com
3    2          bandari  chandrakanth    bandarichandrakanth@guvi.com
4   50          bandari      sahithya        bandarisahithya@guvi.com
5   14            barla           sai               barlasai@guvi.com
6   24           bellam       revanth          bellamrevanth@guvi.com
7    3          bhogadi        manasa          bhogadimanasa@guvi.com
8   25          boddani        ankith          boddaniankith@guvi.com
9    4          boddula      supreeth        boddulasupreeth@guvi.com
10  15         borampet    saikaushik     borampetsaikaushik@guvi.com
11  26  chennakeshavula        suresh  chennakeshavulasuresh@guvi.com
12   5         chennuri        naveen         chennurinaveen@guvi.com
13  33         chilkuri     srinivasa      chilkurisrinivasa@guvi.com
14  16           choppa     sairajesh        choppasairajesh@guvi.com
15  17         eslavath        vamshi         eslavathvamshi@guvi.com
16  34           gamidi        eshwar           gamidieshwar@guvi.com
17  27      gundlapalli        vinith      gundlapallivinith@guvi.com
18  35       kandukoori           sai          kandukoorisai@guvi.com
19  18           katuri    yedukndalu       katuriyedukndalu@guvi.com
20  28       kothapalli         bhanu        kothapallibhanu@guvi.com
21  36           kuthum      nagaraju        kuthumnagaraju@gmail.com
22   6           kuturu    ananthasri       kuturuananthasri@guvi.com
23  47         madhavan          None               madhavan@guvi.com
24   7       mailapalli    sreeharsha  mailapallisreeharsha@gmail.com
25  37           mateti        pranav           matetipranav@guvi.com
26   8          mengani        akshay          menganiakshay@guvi.com
27   9         mohammed         nawaz          mohammednawaz@guvi.com
28  29             mohd       sophian            mohdsophian@guvi.com
29  30         narayana        suresh         narayanasuresh@guvi.com
30  19        nikhilesh           kar           nikhileshkar@guvi.com
31  39            ninga         bhanu             ningabhanu@guvi.com
32  20        patimeedi       srihari       patimeedisrihari@guvi.com
33  22          praveen         kumar           praveenkumar@guvi.com
34  21          praveen        dhumal          praveendhumal@guvi.com
35  10          rapelly    sandeepraj      rapellysandeepraj@guvi.com
36  40            rohit          meka              rohitmeka@guvi.com
37  48              sai         kiran               saikiran@guvi.com
38  46        samudrala    prashanthi    samudralaprashanthi@guvi.com
39  11       sandhulwar       sainath      sandhulwarsainath@guvi.com
40  38          shivani         patel           shivanipatel@guvi.com
41  31        siddineni       hemanth       siddinenihemanth@guvi.com
42  41      sigalapalli        naveen      sigalapallinaveen@guvi.com
43  12         sirigiri    chaithanya     sirigirichaithanya@guvi.com
44  42    tangellapally      nagaraju  tangellapallynagaraju@guvi.com
45  43            vadai      saikiran          vadaisaikiran@guvi.com
46  44           vaddla       aravind          vaddlaaravind@guvi.com
47  13           vemula      shravani         vemulashravani@guvi.com
48  32      vemulapalli       yaswant     vemulapalliyaswant@guvi.com
49  45         yesupogu         akhil          yesupoguakhil@guvi.com

   department  salary   Join Date
0     Finance   60000   2/15/2019
1       sales   80000  05-05-2017
2       Admin   45000   3/20/2018
3   Marketing   25000   2/15/2019
4          HR   75000  01-03-2016
5   Marketing   80000   2/20/2013
6       Admin   65000  08-10-2016
7       sales   55000   2/20/2013
8       sales   75000  02-07-2018
9          HR   60000   3/20/2014
10      sales   90000   3/20/2014
11         HR   80000  05-05-2017
12   Purchase   65000   2/15/2019
13   Purchase   55000  02-07-2018
14         HR  100000   3/20/2014
15   Purchase   55000   2/15/2019
16    Finance   60000  05-05-2017
17   Purchase   65000   2/20/2013
18  Marketing   65000   2/20/2013
19    Finance   60000   2/20/2014
20    Finance   75000  03-07-2018
21      sales   75000   2/15/2019
22    Finance   75000   2/20/2013
23    Finance   80000  08-10-2016
24  Marketing   80000   2/15/2019
25         HR   80000   3/20/2021
26      sales   35000  01-10-2016
27         HR   40000   3/20/2014
28      sales   80000   3/15/2019
29  Marketing   68000   3/20/2021
30  Marketing   65000   2/20/2013
31    Finance   80000  08-10-2016
32      sales   75000   2/15/2019
33   Purchase   55000   3/20/2021
34         HR   80000   2/20/2013
35   Purchase   55000   2/15/2019
36      Admin   55000  02-07-2018
37  Marketing   75000  02-07-2018
38   Purchase   75000  05-04-2017
39    Finance   60000  08-10-2016
40   Purchase   75000   2/15/2019
41      sales   95000   2/15/2019
42  Marketing   60000  05-05-2017
43  Marketing   65000  02-07-2018
44      sales   65000   2/20/2013
45  Marketing   75000  02-07-2018
46      sales   80000  05-05-2017
47      sales   75000  05-05-2017
48         HR   70000  08-10-2016
49         HR   65000   2/20/2013

In [61]:
q43="""select FirstName,LastName from worker where salary=(select max(salary) from worker)"""
print(ps.sqldf(q43))

  FirstName   LastName
0    choppa  sairajesh

**TASK5:**

In [62]:
q51="""select * from worker where FirstName not in("shivani","rohit")"""
print(ps.sqldf(q51))

    ID        FirstName      LastName                           Email  \
0    1         banavath     gangaraju      banavathgangaraju@guvi.com
1    2          bandari  chandrakanth    bandarichandrakanth@guvi.com
2    3          bhogadi        manasa          bhogadimanasa@guvi.com
3    4          boddula      supreeth        boddulasupreeth@guvi.com
4    5         chennuri        naveen         chennurinaveen@guvi.com
5    6           kuturu    ananthasri       kuturuananthasri@guvi.com
6    7       mailapalli    sreeharsha  mailapallisreeharsha@gmail.com
7    8          mengani        akshay          menganiakshay@guvi.com
8    9         mohammed         nawaz          mohammednawaz@guvi.com
9   10          rapelly    sandeepraj      rapellysandeepraj@guvi.com
10  11       sandhulwar       sainath      sandhulwarsainath@guvi.com
11  12         sirigiri    chaithanya     sirigirichaithanya@guvi.com
12  13           vemula      shravani         vemulashravani@guvi.com
13  14            barla           sai               barlasai@guvi.com
14  15         borampet    saikaushik     borampetsaikaushik@guvi.com
15  16           choppa     sairajesh        choppasairajesh@guvi.com
16  17         eslavath        vamshi         eslavathvamshi@guvi.com
17  18           katuri    yedukndalu       katuriyedukndalu@guvi.com
18  19        nikhilesh           kar           nikhileshkar@guvi.com
19  20        patimeedi       srihari       patimeedisrihari@guvi.com
20  21          praveen        dhumal          praveendhumal@guvi.com
21  22          praveen         kumar           praveenkumar@guvi.com
22  23             alle         pawan              allepawan@guvi.com
23  24           bellam       revanth          bellamrevanth@guvi.com
24  25          boddani        ankith          boddaniankith@guvi.com
25  26  chennakeshavula        suresh  chennakeshavulasuresh@guvi.com
26  27      gundlapalli        vinith      gundlapallivinith@guvi.com
27  28       kothapalli         bhanu        kothapallibhanu@guvi.com
28  29             mohd       sophian            mohdsophian@guvi.com
29  30         narayana        suresh         narayanasuresh@guvi.com
30  31        siddineni       hemanth       siddinenihemanth@guvi.com
31  32      vemulapalli       yaswant     vemulapalliyaswant@guvi.com
32  33         chilkuri     srinivasa      chilkurisrinivasa@guvi.com
33  34           gamidi        eshwar           gamidieshwar@guvi.com
34  35       kandukoori           sai          kandukoorisai@guvi.com
35  36           kuthum      nagaraju        kuthumnagaraju@gmail.com
36  37           mateti        pranav           matetipranav@guvi.com
37  39            ninga         bhanu             ningabhanu@guvi.com
38  41      sigalapalli        naveen      sigalapallinaveen@guvi.com
39  42    tangellapally      nagaraju  tangellapallynagaraju@guvi.com
40  43            vadai      saikiran          vadaisaikiran@guvi.com
41  44           vaddla       aravind          vaddlaaravind@guvi.com
42  45         yesupogu         akhil          yesupoguakhil@guvi.com
43  46        samudrala    prashanthi    samudralaprashanthi@guvi.com
44  47         madhavan          None               madhavan@guvi.com
45  48              sai         kiran               saikiran@guvi.com
46  49            atike  purnachandar      atikepurnachandar@guvi.com
47  50          bandari      sahithya        bandarisahithya@guvi.com

   department  salary   Join Date
0       Admin   45000   3/20/2018
1   Marketing   25000   2/15/2019
2       sales   55000   2/20/2013
3          HR   60000   3/20/2014
4    Purchase   65000   2/15/2019
5     Finance   75000   2/20/2013
6   Marketing   80000   2/15/2019
7       sales   35000  01-10-2016
8          HR   40000   3/20/2014
9    Purchase   55000   2/15/2019
10    Finance   60000  08-10-2016
11  Marketing   65000  02-07-2018
12      sales   75000  05-05-2017
13  Marketing   80000   2/20/2013
14      sales   90000   3/20/2014
15         HR  100000   3/20/2014
16   Purchase   55000   2/15/2019
17    Finance   60000   2/20/2014
18  Marketing   65000   2/20/2013
19      sales   75000   2/15/2019
20         HR   80000   2/20/2013
21   Purchase   55000   3/20/2021
22    Finance   60000   2/15/2019
23      Admin   65000  08-10-2016
24      sales   75000  02-07-2018
25         HR   80000  05-05-2017
26   Purchase   65000   2/20/2013
27    Finance   75000  03-07-2018
28      sales   80000   3/15/2019
29  Marketing   68000   3/20/2021
30      sales   95000   2/15/2019
31         HR   70000  08-10-2016
32   Purchase   55000  02-07-2018
33    Finance   60000  05-05-2017
34  Marketing   65000   2/20/2013
35      sales   75000   2/15/2019
36         HR   80000   3/20/2021
37    Finance   80000  08-10-2016
38  Marketing   60000  05-05-2017
39      sales   65000   2/20/2013
40  Marketing   75000  02-07-2018
41      sales   80000  05-05-2017
42         HR   65000   2/20/2013
43   Purchase   75000  05-04-2017
44    Finance   80000  08-10-2016
45  Marketing   75000  02-07-2018
46      sales   80000  05-05-2017
47         HR   75000  01-03-2016

In [63]:
q52="""select *from worker where FirstName LIKE "_____h" """
print(ps.sqldf(q52))

Empty DataFrame
Columns: [ID, FirstName, LastName, Email, department, salary, Join Date]
Index: []

In [64]:
q53="""select * from worker where Email like "_%@_%._%" """
print(ps.sqldf(q53))

    ID        FirstName      LastName                           Email  \
0    1         banavath     gangaraju      banavathgangaraju@guvi.com
1    2          bandari  chandrakanth    bandarichandrakanth@guvi.com
2    3          bhogadi        manasa          bhogadimanasa@guvi.com
3    4          boddula      supreeth        boddulasupreeth@guvi.com
4    5         chennuri        naveen         chennurinaveen@guvi.com
5    6           kuturu    ananthasri       kuturuananthasri@guvi.com
6    7       mailapalli    sreeharsha  mailapallisreeharsha@gmail.com
7    8          mengani        akshay          menganiakshay@guvi.com
8    9         mohammed         nawaz          mohammednawaz@guvi.com
9   10          rapelly    sandeepraj      rapellysandeepraj@guvi.com
10  11       sandhulwar       sainath      sandhulwarsainath@guvi.com
11  12         sirigiri    chaithanya     sirigirichaithanya@guvi.com
12  13           vemula      shravani         vemulashravani@guvi.com
13  14            barla           sai               barlasai@guvi.com
14  15         borampet    saikaushik     borampetsaikaushik@guvi.com
15  16           choppa     sairajesh        choppasairajesh@guvi.com
16  17         eslavath        vamshi         eslavathvamshi@guvi.com
17  18           katuri    yedukndalu       katuriyedukndalu@guvi.com
18  19        nikhilesh           kar           nikhileshkar@guvi.com
19  20        patimeedi       srihari       patimeedisrihari@guvi.com
20  21          praveen        dhumal          praveendhumal@guvi.com
21  22          praveen         kumar           praveenkumar@guvi.com
22  23             alle         pawan              allepawan@guvi.com
23  24           bellam       revanth          bellamrevanth@guvi.com
24  25          boddani        ankith          boddaniankith@guvi.com
25  26  chennakeshavula        suresh  chennakeshavulasuresh@guvi.com
26  27      gundlapalli        vinith      gundlapallivinith@guvi.com
27  28       kothapalli         bhanu        kothapallibhanu@guvi.com
28  29             mohd       sophian            mohdsophian@guvi.com
29  30         narayana        suresh         narayanasuresh@guvi.com
30  31        siddineni       hemanth       siddinenihemanth@guvi.com
31  32      vemulapalli       yaswant     vemulapalliyaswant@guvi.com
32  33         chilkuri     srinivasa      chilkurisrinivasa@guvi.com
33  34           gamidi        eshwar           gamidieshwar@guvi.com
34  35       kandukoori           sai          kandukoorisai@guvi.com
35  36           kuthum      nagaraju        kuthumnagaraju@gmail.com
36  37           mateti        pranav           matetipranav@guvi.com
37  38          shivani         patel           shivanipatel@guvi.com
38  39            ninga         bhanu             ningabhanu@guvi.com
39  40            rohit          meka              rohitmeka@guvi.com
40  41      sigalapalli        naveen      sigalapallinaveen@guvi.com
41  42    tangellapally      nagaraju  tangellapallynagaraju@guvi.com
42  43            vadai      saikiran          vadaisaikiran@guvi.com
43  44           vaddla       aravind          vaddlaaravind@guvi.com
44  45         yesupogu         akhil          yesupoguakhil@guvi.com
45  46        samudrala    prashanthi    samudralaprashanthi@guvi.com
46  47         madhavan          None               madhavan@guvi.com
47  48              sai         kiran               saikiran@guvi.com
48  49            atike  purnachandar      atikepurnachandar@guvi.com
49  50          bandari      sahithya        bandarisahithya@guvi.com

   department  salary   Join Date
0       Admin   45000   3/20/2018
1   Marketing   25000   2/15/2019
2       sales   55000   2/20/2013
3          HR   60000   3/20/2014
4    Purchase   65000   2/15/2019
5     Finance   75000   2/20/2013
6   Marketing   80000   2/15/2019
7       sales   35000  01-10-2016
8          HR   40000   3/20/2014
9    Purchase   55000   2/15/2019
10    Finance   60000  08-10-2016
11  Marketing   65000  02-07-2018
12      sales   75000  05-05-2017
13  Marketing   80000   2/20/2013
14      sales   90000   3/20/2014
15         HR  100000   3/20/2014
16   Purchase   55000   2/15/2019
17    Finance   60000   2/20/2014
18  Marketing   65000   2/20/2013
19      sales   75000   2/15/2019
20         HR   80000   2/20/2013
21   Purchase   55000   3/20/2021
22    Finance   60000   2/15/2019
23      Admin   65000  08-10-2016
24      sales   75000  02-07-2018
25         HR   80000  05-05-2017
26   Purchase   65000   2/20/2013
27    Finance   75000  03-07-2018
28      sales   80000   3/15/2019
29  Marketing   68000   3/20/2021
30      sales   95000   2/15/2019
31         HR   70000  08-10-2016
32   Purchase   55000  02-07-2018
33    Finance   60000  05-05-2017
34  Marketing   65000   2/20/2013
35      sales   75000   2/15/2019
36         HR   80000   3/20/2021
37   Purchase   75000   2/15/2019
38    Finance   80000  08-10-2016
39      Admin   55000  02-07-2018
40  Marketing   60000  05-05-2017
41      sales   65000   2/20/2013
42  Marketing   75000  02-07-2018
43      sales   80000  05-05-2017
44         HR   65000   2/20/2013
45   Purchase   75000  05-04-2017
46    Finance   80000  08-10-2016
47  Marketing   75000  02-07-2018
48      sales   80000  05-05-2017
49         HR   75000  01-03-2016

**TASK6:**

In [ ]:
#q61="""select * from worker where Join Date LIKE "2021/03%" """
q61="""SELECT * FROM worker WHERE year(Join Date) = 2021 AND month(Join Date) = 3 """
print(ps.sqldf(q61))

In [80]:
q62="""select FirstName,LastName,salary,Email,count(*) as duplicates from worker group by FirstName,LastName,salary,Email Having count(*)>1 """
print(ps.sqldf(q62))

Empty DataFrame
Columns: [FirstName, LastName, salary, Email, duplicates]
Index: []

In [84]:
q63="""delete from worker where ID not in (select max(ID) from worker Group By department,salary) """
print(ps.sqldf(q63))

None

**Creating new table from worker table:**

In [ ]:
newtable=df.drop(columns=['ID','Email'])
newtable

**TASK7:**

In [ ]:
q71="""select * from worker where (ID % 2)=1 """
print(ps.sqldf(q71))

In [ ]:
q72="""CREATE TABLE new_table LIKE worker INSERT INTO new_table SELECT * FROM worker""" 
print(ps.sqldf(q72))

**TASK8:**

In [ ]:
q81="""select department from worker where salary>30000 intersect select FirstName from worker where salary>=30000"""
print(ps.sqldf(q81))

In [90]:
q82="""SELECT department FROM newtable WHERE NOT EXISTS (SELECT * FROM worker WHERE worker.department = newtable.department)"""
print(ps.sqldf(q82))

Empty DataFrame
Columns: [department]
Index: []

**TASK9:**

In [91]:
q91="""select * from worker limit 15 """
print(ps.sqldf(q91))

    ID   FirstName      LastName                           Email department  \
0    1    banavath     gangaraju      banavathgangaraju@guvi.com      Admin
1    2     bandari  chandrakanth    bandarichandrakanth@guvi.com  Marketing
2    3     bhogadi        manasa          bhogadimanasa@guvi.com      sales
3    4     boddula      supreeth        boddulasupreeth@guvi.com         HR
4    5    chennuri        naveen         chennurinaveen@guvi.com   Purchase
5    6      kuturu    ananthasri       kuturuananthasri@guvi.com    Finance
6    7  mailapalli    sreeharsha  mailapallisreeharsha@gmail.com  Marketing
7    8     mengani        akshay          menganiakshay@guvi.com      sales
8    9    mohammed         nawaz          mohammednawaz@guvi.com         HR
9   10     rapelly    sandeepraj      rapellysandeepraj@guvi.com   Purchase
10  11  sandhulwar       sainath      sandhulwarsainath@guvi.com    Finance
11  12    sirigiri    chaithanya     sirigirichaithanya@guvi.com  Marketing
12  13      vemula      shravani         vemulashravani@guvi.com      sales
13  14       barla           sai               barlasai@guvi.com  Marketing
14  15    borampet    saikaushik     borampetsaikaushik@guvi.com      sales

    salary   Join Date
0    45000   3/20/2018
1    25000   2/15/2019
2    55000   2/20/2013
3    60000   3/20/2014
4    65000   2/15/2019
5    75000   2/20/2013
6    80000   2/15/2019
7    35000  01-10-2016
8    40000   3/20/2014
9    55000   2/15/2019
10   60000  08-10-2016
11   65000  02-07-2018
12   75000  05-05-2017
13   80000   2/20/2013
14   90000   3/20/2014

In [92]:
q92="""SELECT salary from worker order by salary DESC limit 10"""
print(ps.sqldf(q92))

   salary
0  100000
1   95000
2   90000
3   80000
4   80000
5   80000
6   80000
7   80000
8   80000
9   80000

**TASK10:**

In [99]:
q01="""SELECT salary FROM worker ORDER BY Salary DESC LIMIT 8-1,1 """
print(ps.sqldf(q01))

   salary
0   80000

In [101]:
q02="""SELECT * FROM worker WHERE (salary IN (SELECT salary FROM worker GROUP BY salary HAVING COUNT(salary) > 1))"""
print(ps.sqldf(q02))

    ID        FirstName      LastName                           Email  \
0    3          bhogadi        manasa          bhogadimanasa@guvi.com
1    4          boddula      supreeth        boddulasupreeth@guvi.com
2    5         chennuri        naveen         chennurinaveen@guvi.com
3    6           kuturu    ananthasri       kuturuananthasri@guvi.com
4    7       mailapalli    sreeharsha  mailapallisreeharsha@gmail.com
5   10          rapelly    sandeepraj      rapellysandeepraj@guvi.com
6   11       sandhulwar       sainath      sandhulwarsainath@guvi.com
7   12         sirigiri    chaithanya     sirigirichaithanya@guvi.com
8   13           vemula      shravani         vemulashravani@guvi.com
9   14            barla           sai               barlasai@guvi.com
10  17         eslavath        vamshi         eslavathvamshi@guvi.com
11  18           katuri    yedukndalu       katuriyedukndalu@guvi.com
12  19        nikhilesh           kar           nikhileshkar@guvi.com
13  20        patimeedi       srihari       patimeedisrihari@guvi.com
14  21          praveen        dhumal          praveendhumal@guvi.com
15  22          praveen         kumar           praveenkumar@guvi.com
16  23             alle         pawan              allepawan@guvi.com
17  24           bellam       revanth          bellamrevanth@guvi.com
18  25          boddani        ankith          boddaniankith@guvi.com
19  26  chennakeshavula        suresh  chennakeshavulasuresh@guvi.com
20  27      gundlapalli        vinith      gundlapallivinith@guvi.com
21  28       kothapalli         bhanu        kothapallibhanu@guvi.com
22  29             mohd       sophian            mohdsophian@guvi.com
23  33         chilkuri     srinivasa      chilkurisrinivasa@guvi.com
24  34           gamidi        eshwar           gamidieshwar@guvi.com
25  35       kandukoori           sai          kandukoorisai@guvi.com
26  36           kuthum      nagaraju        kuthumnagaraju@gmail.com
27  37           mateti        pranav           matetipranav@guvi.com
28  38          shivani         patel           shivanipatel@guvi.com
29  39            ninga         bhanu             ningabhanu@guvi.com
30  40            rohit          meka              rohitmeka@guvi.com
31  41      sigalapalli        naveen      sigalapallinaveen@guvi.com
32  42    tangellapally      nagaraju  tangellapallynagaraju@guvi.com
33  43            vadai      saikiran          vadaisaikiran@guvi.com
34  44           vaddla       aravind          vaddlaaravind@guvi.com
35  45         yesupogu         akhil          yesupoguakhil@guvi.com
36  46        samudrala    prashanthi    samudralaprashanthi@guvi.com
37  47         madhavan          None               madhavan@guvi.com
38  48              sai         kiran               saikiran@guvi.com
39  49            atike  purnachandar      atikepurnachandar@guvi.com
40  50          bandari      sahithya        bandarisahithya@guvi.com

   department  salary   Join Date
0       sales   55000   2/20/2013
1          HR   60000   3/20/2014
2    Purchase   65000   2/15/2019
3     Finance   75000   2/20/2013
4   Marketing   80000   2/15/2019
5    Purchase   55000   2/15/2019
6     Finance   60000  08-10-2016
7   Marketing   65000  02-07-2018
8       sales   75000  05-05-2017
9   Marketing   80000   2/20/2013
10   Purchase   55000   2/15/2019
11    Finance   60000   2/20/2014
12  Marketing   65000   2/20/2013
13      sales   75000   2/15/2019
14         HR   80000   2/20/2013
15   Purchase   55000   3/20/2021
16    Finance   60000   2/15/2019
17      Admin   65000  08-10-2016
18      sales   75000  02-07-2018
19         HR   80000  05-05-2017
20   Purchase   65000   2/20/2013
21    Finance   75000  03-07-2018
22      sales   80000   3/15/2019
23   Purchase   55000  02-07-2018
24    Finance   60000  05-05-2017
25  Marketing   65000   2/20/2013
26      sales   75000   2/15/2019
27         HR   80000   3/20/2021
28   Purchase   75000   2/15/2019
29    Finance   80000  08-10-2016
30      Admin   55000  02-07-2018
31  Marketing   60000  05-05-2017
32      sales   65000   2/20/2013
33  Marketing   75000  02-07-2018
34      sales   80000  05-05-2017
35         HR   65000   2/20/2013
36   Purchase   75000  05-04-2017
37    Finance   80000  08-10-2016
38  Marketing   75000  02-07-2018
39      sales   80000  05-05-2017
40         HR   75000  01-03-2016